<div class="modal-body">
    <div class="form-group">
        <label for="end">Let the client know why you are cancelling this contract</label>
        <select id="end" name="{{form.cancel_contract_reason.name}}" class="selectpicker"> 
            <option value="" selected disabled>Choose the reason</option> 
            {% for value, text in form.cancel_contract_reason.field.choices %}
            <option value="{{value}}" {% if form.cancel_contract_reason.value == value %} selected {% endif %} >{{text}}</option>
            {% endfor %}
        </select>
        </div>
    
        <div class="form-group">
        <label for="subject">Write a testimonial to the client (optional)</label>
        <textarea
            id="subject"
            name="{{form.feedback.name}}"
            placeholder=""
            class="form-field form-control testimonial_feedback"
        ></textarea>
        </div>
        <p class="error_text d-none"> Please fill the feedback</p>
        <input type="hidden" name="{{form.status.name}}" value="4"> 
        <input type="hidden" name="{{form.contract.name}}" value="{{contract.id}}"> 
    </div>
