{% extends 'layout.html' %}{% load static %}

{% block content %}
    <div class="content-wrapper">
      <div class="container">
        <div class="form-wrapper">
          <h2 class="form-header">Forgot Password</h2>
          <form method="POST" class="register-form">
            {% csrf_token %}
            <div class="form-group">
              <input
                type="text"
                id="femail"
                name="{{form.email.name}}"
                placeholder="Email"
                class="form-field form-control"
              />
            </div>
            <button type="submit" class="btn btn-primary form-btn">
              Submit
            </button>
            <div class="terms-condition-text already-loggedin">
              Don't have an account? <a href="{% url 'accounts:signup' %}"><span>Sign up</span></a>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}