{% extends 'layout.html' %}{% load static %} {% load static %} 
{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'css/contractPage/index.css' %}" />
  <link
    rel="stylesheet"
    href="{% static 'lib/bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'lib/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css' %}"
  />
  <link rel="stylesheet" href="{% static '/css/personal-detail/index.css' %}" />
  
  {% if not request.user.profile_added%}
  <!-- Code to make navbar invisible. attempt to prevent users from not filling data-->
  <style>
    .navbar-wrapper,
    .content-footer-container {
      display: none !important;
    }
  
    .content-wrapper {
      margin-top: -120px;
    }
  </style>
  {% endif %} {% endblock %} {% block content %}
  <div class="content-wrapper">
    <div class="container">
      <div class="form-wrapper contact-page-parent-wrapper personal-detail">
        <h2 class="form-header mb-5">Reference Form</h2>
        <form
          class="contact-page"
          method="POST"
          action=""
          id="personal_details_form"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="form-group">
            <label for="lname">Enter Your Reference Email</label>
            <input
            autocomplete="off" 
            id="search-bar"
              type="email"
              name="reference_for"
              placeholder="Enter reference Email"
              class="form-field form-control"
              value="{{reference.user.email}}"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="profilephoto">Profile Photo</label>
            <div class="drop-zone">
              <span class="drop-zone__prompt"
                >Drag and drop or
                <span class="browse">browse</span></span
              >
              <input
                type="file"
                value="{% static 'images/profile_img.png' %}"
                class="drop-zone__input"
                name="{{form.profile_photo.name}}"
                accept="image/*"
              />
            </div>
          </div>
          <div class="invalid-tooltip-message text-danger">
            {{form.profile_photo.errors.0}}
          </div>
          <div class="form-group">
            <label for="lname">Full Name</label>
            <input
              type="text"
              name="{{form.name.name}}"
              placeholder="Enter Full name"
              class="form-field form-control"
              value="{{reference.name}}"
              disabled
            />
          </div>
          <div class="invalid-tooltip-message text-danger">
            {{form.name.errors.0}}
          </div>
          <div class="form-group">
            <label for="lname">Your Email</label>
            <input
              type="email"
              name="{{form.email.name}}"
              placeholder="Enter Email"
              class="form-field form-control"
              value="{{reference.email}}"
              disabled
            />
          </div>
          <div class="invalid-tooltip-message text-danger">
            {{form.email.errors.0}}
          </div>
          <div class="form-group">
            <label for="lname">Phone Number</label>
            <input
              type="tel"
              name="phone_number"
              placeholder="Enter Phone Number"
              class="form-field form-control"
            />
          </div>
          <div class="invalid-tooltip-message text-danger">
            {{form.phone_number.errors.0}}
          </div>
     
  
          <div class="buttons-wrapper">
            <button type="submit" class="btn btn-primary form-btn">
              Save and continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %} {% block extrascript %}
  <script src="{% static '/js/personal-detail.js' %}"></script>
  <script>
    $(document).ready(function () {
      // Adding more language
      $("#add_language").on("click", function () {
        if (!$("#language_div").children().eq(1).hasClass("d-none")) {
          $("#language_div").children().last().removeClass("d-none");
        }
        $("#language_div").children().eq(1).removeClass("d-none");
      });
  
      loadDropdowns = (url, data, load_id) => {
        $.ajax({
          url: url,
          async: false,
          type: "GET",
          data: data,
          success: function (data) {
            const options = data.dropdown_options;
            $("#" + load_id).empty();
            $("#" + load_id).append(
              "<option value='' selected>Select Option</option>"
            );
  
            if (data.dropdown_options.length > 0) {
              for (const key in options) {
                $("#" + load_id)
                  .append(
                    "<option value='" +
                      options[key][0] +
                      "' data-value='" +
                      options[key][2] +
                      "'>" +
                      options[key][1] +
                      "</option>"
                  )
                  .trigger("change");
              }
              $(".selectpicker").selectpicker("refresh");
            }
          },
        });
      };
  
      $("#country").on("change", function (e) {
        id = $(this).val();
        if (id) {
          url = "{% url 'accounts:dynamic-dropdonws' %}";
          data = { id: id, dropdown_type: "CITY" };
          loadDropdowns(url, data, "city");
        }
      });
    }); //ready
  
    $(".back_btn").on("click", function () {
      window.location.href = "/accounts/dashboard";
    });
  </script>
  <script>
    function countChar(val) {
      var len = val.value.length;
      if (len >= 50) {
        val.value = val.value.substring(0, 100);
      } else {
        $("#charNum").text(50 - len);
      }
    }
  </script>
  <script>
    function ipLookUp () {
      fetch('https://api.geoapify.com/v1/ipinfo?apiKey=f46b0052aa4c48a6a7c0d58ffb7bc90f')
        .then(resp => resp.json())
        .then((userLocationData) => {
          $("#country").val(userLocationData.country.name);
          $("#city").val(userLocationData.city.name);
	        console.log(userLocationData.city.name);
          });
    }
    ipLookUp()
  </script>
  {% endblock %}
