{% extends 'layout.html' %}{% load static %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/contract/index.css' %}" />
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container aboutus">
        <div class="how-it-started">
            <div class="img-box aboutus-img d-md-block d-none">
                <img src="{% static 'images/aboutus.svg' %}" alt="mission" />
            </div>
            <div class="img-box aboutus-img d-md-none d-block">
                <img src="{% static 'images/aboutus-mbl.svg' %}" alt="mission" />
            </div>
            <h2>How <span>It Started</span></h2>
            <div class="parabox scrollbar">
                <p>
                    It is true that more and more sole proprietors and small businesses are now going online to find
                    their customers. Also, more and more people are now finding fulltime, parttime and even
                    freelance gigs online. There are lots of good people who are offering and delivering legitimate
                    services online. Unfortunately, there are also some bad actors who breach contractual
                    agreements.
                </p>
                <p>
                    In 2018 when we started hiring remote workers, we realized that employees are more cautious of
                    the behavior if they know that whatever they do can be traced back to them in the future. On the
                    other hand, if there are no consequences for bad behavior, remote employees do not honor company
                    agreements and rules of good business conduct.
                </p>
                <p>
                    It is true that more and more sole proprietors and small businesses are now going online to find
                    their customers. Also, more and more people are now finding fulltime, parttime and even
                    freelance gigs online. There are lots of good people who are offering and delivering legitimate
                    services online. Unfortunately, there are also some bad actors who breach contractual
                    agreements.
                </p>
                <p>
                    In 2018 when we started hiring remote workers, we realized that employees are more cautious of
                    the behavior if they know that whatever they do can be traced back to them in the future. On the
                    other hand, if there are no consequences for bad behavior, remote employees do not honor company
                    agreements and rules of good business conduct.
                </p>
            </div>
        </div>
        <div class="our-mission">
            <div class="img-box">
                <img src="{% static 'images/aboutus-mission.svg' %}" alt="mission" />
            </div>
            <div class="content-box">
                <h2>
                    Our <span>Mission</span>
                </h2>
                <p>
                    We will hold agreements between parties, from anywhere in the world and do anything possible to
                    ensure that all parties honor the terms of agreements
                </p>
            </div>
        </div>
        <div class="testimonial-box">
            <h2>Our <span>Team</span></h2>
            <!-- TESTIMONIALS -->
            <section class="testimonials">
                <div id="customers-testimonials" class="owl-carousel">

                    <!--TESTIMONIAL 1 -->
                    <div class="item">
                        <div class="shadow-effect">
                            <div class="img-box">
                                <img class="img-circle"
                                    src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg"
                                    alt="">

                                <div class="pattern-1">
                                    <img src="{% static 'images/pattern-slider.svg' %}" alt="pattern" />
                                </div>
                                <div class="pattern-2">
                                    <img src="{% static 'images/pattern-2-slider.svg' %}" alt="pattern" />
                                </div>

                            </div>

                            <p class="bold">Azeem Animashaun</p>
                            <p>Developer</p>
                        </div>
                    </div>
                    <!--END OF TESTIMONIAL 1 -->
                    <!--TESTIMONIAL 2 -->
                    <div class="item">
                        <div class="shadow-effect">
                            <div class="img-box">
                                <img class="img-circle"
                                    src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg"
                                    alt="">

                                <div class="pattern-1">
                                    <img src="{% static 'images/pattern-slider.svg' %}" alt="pattern" />
                                </div>
                                <div class="pattern-2">
                                    <img src="{% static 'images/pattern-2-slider.svg' %}" alt="pattern" />
                                </div>

                            </div>
                            <p class="bold">Azeem Animashaun</p>
                            <p>Developer</p>
                        </div>
                    </div>
                    <!--END OF TESTIMONIAL 2 -->
                    <!--TESTIMONIAL 3 -->
                    <div class="item">
                        <div class="shadow-effect">
                            <div class="img-box">
                                <img class="img-circle"
                                    src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg"
                                    alt="">

                                <div class="pattern-1">
                                    <img src="{% static 'images/pattern-slider.svg' %}" alt="pattern" />
                                </div>
                                <div class="pattern-2">
                                    <img src="{% static 'images/pattern-2-slider.svg' %}" alt="pattern" />
                                </div>

                            </div>
                            <p class="bold">Azeem Animashaun</p>
                            <p>Developer</p>
                        </div>
                    </div>
                    <!--END OF TESTIMONIAL 3 -->
                    <!--TESTIMONIAL 4 -->
                    <div class="item">
                        <div class="shadow-effect">
                            <div class="img-box">
                                <img class="img-circle"
                                    src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg"
                                    alt="">

                                <div class="pattern-1">
                                    <img src="{% static 'images/pattern-slider.svg' %}" alt="pattern" />
                                </div>
                                <div class="pattern-2">
                                    <img src="{% static 'images/pattern-2-slider.svg' %}" alt="pattern" />
                                </div>

                            </div>
                            <p class="bold">Azeem Animashaun</p>
                            <p>Developer</p>
                        </div>
                    </div>
                    <!--END OF TESTIMONIAL 4 -->
                    <!--TESTIMONIAL 5 -->
                    <div class="item">
                        <div class="shadow-effect">
                            <div class="img-box">
                                <img class="img-circle"
                                    src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg"
                                    alt="">

                                <div class="pattern-1">
                                    <img src="{% static 'images/pattern-slider.svg' %}" alt="pattern" />
                                </div>
                                <div class="pattern-2">
                                    <img src="{% static 'images/pattern-2-slider.svg' %}" alt="pattern" />
                                </div>

                            </div>
                            <p class="bold">Azeem Animashaun</p>
                            <p>Developer</p>
                        </div>
                    </div>
                    <!--END OF TESTIMONIAL 5 -->
                </div>
            </section>
            <!-- END OF TESTIMONIALS -->
        </div>
    </div>
</div>
{% endblock %}
{% block extrascript %}
<script src="{% static 'lib/OwlCarousel2-2.3.4/dist/owl.carousel.js' %}"></script>
{% endblock %}
